@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@350&display=swap');

.source-sans-3-sourcesans3 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

body {font-family: 'Source Sans 3', sans-serif; font-weight:350}
p {text-align:center;}
canvas {
    position:fixed;
    z-index: -1;
    display:block;
        top: 0;
        left: 0;
}